<html>
  <head><title>Ansible Test Page</title></head>
  <body>
    <h1>Hello from {{ inventory_hostname }}</h1>
    <p>Deployed on {{ ansible_date_time.date }} at {{ ansible_date_time.time }}</p>
  </body>
</html>
